@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #614beb;
}

.root {
  background-color: #ffffff;
}

.custom-checkbox {
 
  height: 1rem;
  border: 2px solid #ccc;
 

  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #1da389; /* Green color */
  border-color: #1da389; /* Green color */
}
